// WIDTHS
$width-mobile: 375;
$width-desktop: 1440;

// COLORS
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(212, 45%, 89%);
$color-gray-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
// $font:'Outfit'
$font-reg: "Outfit", 400;
$font-bold: "Outfit", 700;

//Font sizing
$font-size-body: 15;
