// BRAND TYPEFACE

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Italic.ttf) format(TrueType);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf) format(TrueType);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format(TrueType);
  font-weight: 800;
  font-style: italic;
}
