// BREAKPOINTS
$width-mobile: 375px;
$width-desktop: 1440px;

// COLORS

$color-primary-purple: hsl(259, 100%, 65%);
$color-primary-light-red: hsl(0, 100%, 67%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-off-white: hsl(0, 0%, 94%);
$color-neutral-light-grey: hsl(0, 0%, 86%);
$color-neutral-smoky-grey: hsl(0, 1%, 44%);
$color-neutral-off-black: hsl(0, 0%, 8%);

//Body
$size-input: 3.2rem;
