@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dob {
  display: flex;
  align-items: start;
  column-gap: 1rem;
  position: relative;
  border-bottom: 1px solid $color-neutral-light-grey;
  padding-bottom: 3.2rem;

  @include desktop {
    padding-bottom: 5rem;
    padding-right: 30%;
  }

  &__fields {
    border: none;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
    flex: 1 0;
  }

  &__field {
    @include desktop {
      font-size: 1.4rem;
    }

    &-label {
      font-size: 1.2rem;
      color: $color-neutral-smoky-grey;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    &-err {
      color: $color-primary-light-red;
      min-height: 3.2rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      @include desktop {
        min-height: 1.6rem;
      }
    }
  }

  &__input {
    border: 1px solid $color-neutral-light-grey;
    padding: 1rem;
    border-radius: 1rem;
    height: 5rem;
    width: 100%;
    font-size: 2rem;
    caret-color: $color-primary-purple;
    @include desktop {
      font-size: $size-input;
      height: 7rem;
    }

    &:focus,
    &:hover {
      outline-color: $color-primary-purple;
      border-color: $color-primary-purple;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:invalid {
      border-color: $color-primary-light-red;
    }

    &:invalid + .dob__field-label {
      color: $color-primary-light-red;
    }
  }

  &__submit {
    border-radius: 50%;
    border: none;
    background-image: url(../../assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.6rem;
    background-color: $color-primary-purple;
    width: 6.5rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    transition: all 0.5s;

    @include desktop {
      width: 10rem;
      right: 0;
      transform: translate(0, 50%);
      background-size: 4.6rem;
    }

    &:hover {
      background-color: $color-neutral-off-black;
    }
  }
}
